*~
.agenda_files_*
ac-comphist.dat
auto-save-list
bookmarks
*.elc
elpa
eshell
image-dired*
custom.el
places
recentf
savehist
saveplace
session.*
.smex-items
tramp
url
projectile*
/skewer-cache/
/history
games
.cache
.cask
.trello
eclipse.jdt.ls
org-gcal
request
workspace
.lsp-session-v1
.org-id-locations
transient
network-security.data